<header>
  <app-header></app-header>
</header>

<section>
  <div class="page-loader" [hidden]="dataLoaded">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>

  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 m-auto">
          <div class="bg-white p-4 my-5">
            <div *ngIf="serviceError" class="col-md-6 alert alert-danger" #divErrorfocus>
              {{errorMsg}}
            </div>
            <div *ngIf="actionDone" class="alert alert-success" #divfocus>
              {{returnedMsg}}
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <h2>Voting Statistics</h2>
              <a mat-raised-button href="javascript:void()" (click)="toggleTableRows()" color="primary">Toggle Rows</a>
            </div>

            <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
              <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef>Order</th>
                <td mat-cell *matCellDef="let element">{{dataSource.filteredData.indexOf(element)+1}} </td>
              </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <a mat-button href="javascript:void()" (click)="element.isExpanded = !element.isExpanded">View Answers</a>
                </td>
              </ng-container>
            
            
              <!-- Template for details row -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedquestionsColumnsList.length">
            
                  <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                    <mat-list>
                      <div mat-subheader>Subjects of {{element.title}}</div>
                      <mat-list-item *ngFor="let subject of element.votingAnswer">
                        <div mat-line>{{subject.title}}</div>
                        <div mat-line> Response Count: {{subject.responseCount}}</div>
                        
                      </mat-list-item>
            
                      <!-- <div mat-line> FeedBack Count: {{subject.responseNumber}}</div> -->
                    </mat-list>
                  </div>
            
                </td>
              </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedquestionsColumnsList;sticky: true"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedquestionsColumnsList;" class="student-element-row"
                [class.student-expanded-row]="element.isExpanded"></tr>
            
              <!-- Extra row to show detail content column -->
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>
            </table>

            <mat-paginator #paginator [length]="dataLength" [pageSize]="pageLength" (page)="updatePage($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
</section>



