<section>
    <div class="page-loader" [hidden]="dataLoaded">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="bg-white p-4 mb-5">
                        <h2 class="mb-3">All Banners</h2>

                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)">
                        </mat-form-field>

                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <!-- <th>Id</th> -->
                                        <th>title</th>
                                        <!-- <th>bannerMediaName</th> -->
                                        <th>bannerTypeName</th>
                                        <th>orderNo</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataSource">
                                        <td>{{data.title}}</td>
                                        <!-- <td>{{data.bannerMediaName}}</td> -->
                                        <td>{{data.bannerTypeName}}</td>
                                        <td>{{data.orderNo}}</td>
                                        <td> 
                                            <img class="img-thumbnail" [src]="data.bannerMediaName" alt="image" width="100" height="100" /> 
                                      
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <button type="button" class="btn text-primary p-0 mr-3" data-toggle="modal" (click)="openDialog(false,data.bannerId,data)">
                                                    <i class="fa fa-edit fa-20px"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                
                            <div class="py-4 text-center" *ngIf="dataSource && dataSource.length == 0">
                                No data available
                            </div>
                
                            <mat-paginator #paginator [length]="dataLength" [pageSize]="pageLength" (page)="updatePage($event)"></mat-paginator>
                        </div>

                        <!-- <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#EditTopicsModel" #openModalButton>Open Modal</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</section>
