<div class="page-loader" [hidden]="dataLoaded">
  <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>

<header>
  <app-header></app-header>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 m-auto">
                <div class="bg-white p-4 my-5">
                  <div class="px-0">
                    <div fxFlex fxLayoutAlign="center center">
                      <div class="p-0" fxFlex="100">
                        <form [formGroup]="mainForm"  (ngSubmit)="editCategoryFormSubmit()">
                        <div >
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-3">
                          <mat-card-title class="mb-0 pl-3">Edit Category</mat-card-title>
                        </div>

                        <!-- content -->
                        <mat-card-content>

                          <div class="container">
                            <div class="col-md-12 mb-3">
                              <mat-form-field class="col-12 px-0">

                                <mat-label>English Name*</mat-label>
                                <input matInput  type="text" formControlName="englishName" placeholder="write..."
                                [class.is-invalid]="(mainForm.get('englishName')?.hasError('required'))&&(mainForm.get('englishName')?.dirty || mainForm.get('englishName')?.touched)" />
                              </mat-form-field>
                              <!-- <small class="text-danger" *ngIf="(mainForm.get('englishName')?.hasError('required'))&&(mainForm.get('englishName')?.dirty || mainForm.get('englishName')?.touched)"> Field is required. </small> -->
                            </div>

                            <div class="col-md-12 mb-3">
                              <mat-form-field class="col-12 px-0">
                                <mat-label>Arabic Name*</mat-label>
                                <input matInput  type="text" formControlName="arabicName" placeholder="write..."
                                [class.is-invalid]="(mainForm.get('arabicName')?.hasError('required'))&&(mainForm.get('arabicName')?.dirty || mainForm.get('arabicName')?.touched)" />
                              </mat-form-field>
                            </div>

                            <div class="col-md-12 mb-3">
                              <mat-checkbox color="primary"  formControlName="isVisible"  ></mat-checkbox>
                              <mat-label  class="ml-2">Is Visible</mat-label>
                            </div>
                          </div>

                      </mat-card-content>
                      <!-- </ng-container> -->

                      <div class="d-flex justify-content-end border-top pt-3 mt-3  pr-3">
                        <button type="submit" class="btn btn-primary mr-2" [disabled]="mainForm.invalid || submitLoaded">
                          <div class="spinner-border spinner-border-sm text-white mr-2" role="status" *ngIf="submitLoaded">
                            <span class="sr-only">Loading...</span>
                          </div>
                          Submit</button>
                        <button class="btn btn-outline-primary" type="button" (click)="reset()">ٌReset</button>
                      </div>
                    </div>
                       </form>
                  </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</section>

<app-sub-category-list [inputID]="categoryId"></app-sub-category-list>

