<main>
    <div class="page-loader" [hidden]="dataLoaded">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="bg-white p-4 my-5">
                        <div *ngIf="serviceError" class="alert alert-danger" #divErrorfocus>
                            {{errorMsg}}
                        </div>
                        <div *ngIf="actionDone" class="alert alert-success" #divfocus>
                            {{returnedMsg}}
                        </div>

                        <form [formGroup]="myGroup">
                            <h2 class="mb-4">Add New Offer</h2>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <ngx-select-dropdown [config]="config" [options]="Modules"
                                    (change)="selectionChanged($event)" [formControl]="myGroup.controls['dataModel']" #dropdown>
                                    </ngx-select-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>Title</mat-label>
                                        <input matInput formControlName="title" required />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>partner Name</mat-label>
                                        <input matInput formControlName="partnerName" required />
                                    </mat-form-field>
                                </div>                                
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col-12 px-0" >
                                        <mat-label>Description</mat-label>
                                        <!-- <input matInput formControlName="description" required /> -->
                                        <textarea matInput rows="5" cols="5" formControlName="description" required ></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>Start Date</mat-label>
                                        <input matInput formControlName="startDate" type="datetime-local" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>End Date</mat-label>
                                        <input matInput formControlName="endDate" type="datetime-local" required />
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>Item Id</mat-label>
                                        <input matInput formControlName="itemId" required />
                                    </mat-form-field>
                                </div> -->
                                 <!-- <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>mediaName</mat-label>
                                        <input matInput formControlName="mediaName" required />
                                    </mat-form-field>
                                </div>  -->

                                <!-- <div class="col-md-12 mb-3">
                                    <mat-slide-toggle name="isNewOffer" formControlName="isNewOffer">is New Offer</mat-slide-toggle>
                                </div> -->
                                <!-- <div class="col-md-12 mb-3">
                                    <mat-slide-toggle name="isNotified" formControlName="isNotified">is Notified</mat-slide-toggle>
                                </div> -->
                                <!-- <div *ngIf="publishAppear" class="col-md-6 mb-3">
                                    <mat-form-field class="col-12 px-0">
                                        <mat-label>Publish Date</mat-label>
                                        <input matInput formControlName="publishDate" type="datetime-local" />
                                    </mat-form-field>
                                </div> -->
                                
                                <!-- <div class="col-12 mb-3">
                                    <mat-slide-toggle name="sendNow" (change)="sendNow()" formControlName="sendNow">Send Now</mat-slide-toggle>
                                </div> -->
                                <div class="col-lg-4 col-sm-6">
                                    <input [formControl]="myGroup.controls['sheet']" accept='image/*' class="form-control" type="file" (change)="onChange($event)"> 
                                </div>

                                <div class="col-lg-3 col-8">
                                    <img [src]="offerUrl" class="img-thumbnail" alt="answer-img" width="150" height="150" />
                                  </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary mr-3 px-4" [disabled]="!submittable" (click)="addNewOffer()">Submit</button>
                                    <button type="reset" class="btn btn-outline-primary px-4" (click)="resetForm()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>