<section>
    <div class="page-loader" [hidden]="dataLoaded">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="bg-white p-4 my-5">
                        <div *ngIf="serviceError" class="alert alert-danger" #divErrorfocus>
                            {{errorMsg}}
                        </div>
                        <div *ngIf="actionDone" class="alert alert-success" #divfocus>
                            {{returnedMsg}}
                        </div>

                        <form [formGroup]="myGroup">
                            <h2 class="mb-4">News Category</h2>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-md-12 px-0">
                                        <mat-label>English Name</mat-label>
                                        <input matInput formControlName="englishName" pattern="[A-Za-z0-9]+" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <mat-form-field class="col-md-12 px-0">
                                        <mat-label>Arabic Name</mat-label>
                                        <input matInput formControlName="arabicName" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary mr-3 px-4" [disabled]="!submittable" (click)="saveNewsCategory()">Submit</button>
                                    <button type="reset" class="btn btn-outline-primary px-4" (click)="resetForm()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>